@import '../../styles/utils';

.blog_page {
    @extend .container;

    .filters_section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .grid_wrapper {
        display: flex;

        .posts_grid {
            display: inline-grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            gap: 2rem;
            margin: 0 auto;
        }
    }
}
