@import '../../styles/utils';

.blog_page {
    @extend .container;

    .filters_section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .grid_wrapper {
        display: flex;

        .posts_grid {
            display: inline-grid;
            grid-template-columns: auto auto auto;
            width: 100%;
            justify-content: space-between;
        }
    }
}
