// Color
$color_primary: #1d1d1f;
$color_primary_contrast: #383838;
$color_secondary: #eeeeee;

$primary_drop_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Responsive breakpoints
$breakpoint_xs: 578px;
$breakpoint_sm: 768px;
$breakpoint_md: 992px;
$breakpoint_lg: 1200px;

// Font
$font_family_base: 'Roboto', sans-serif;

// Class utils
.container {
    max-width: $breakpoint_lg;
    width: 90%;
    margin: 0 auto;
}
