@import '../../styles/variables.scss';

.logo {
    height: 2rem;
    width: auto;
    z-index: 1;
    margin-left: 10%;

    @media (min-width: $tablet) {
        height: 3rem;
        width: auto;
    }
}
