@import '../../../styles/utils';

.post_card__link_wrapper {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    .post_card {
        display: flex;
        flex-flow: column wrap;

        color: $color_secondary;
        background-color: $color_primary;
        filter: drop-shadow($primary_drop_shadow);

        width: 19.86rem;
        height: 30.7rem;
        border-radius: 40px;
        // Overflow to prevent child overflowing the border radius
        overflow: hidden;

        .post_image_wrapper {
            min-height: 38.7%;
            width: 100%;
            position: relative;
        }

        .post_card_body {
            flex: 5;
            width: 90%;
            margin: 0 auto;

            h2 {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                padding: 2.48rem 0 1.18rem 0;
            }

            .post_description {
                font-size: 0.938rem;
                font-weight: 300;
            }
        }

        .post_footer {
            flex: 2;
            width: 90%;
            margin: 0 auto;

            p:first-child {
                font-size: 0.938rem;
                font-weight: 500;
            }

            p:last-child {
                font-size: 0.88rem;
                font-weight: 300;
            }
        }
    }
}
